@import url('https://fonts.googleapis.com/css?family=Montserrat:100');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400');
/*http://www.northlandscapes.com/de/*/
html body{
  height: 100%;
}
body{
	font-family: 'Montserrat', sans-serif;
    font-size: 90%;
	font-weight:400;
    margin: 0em;
    padding: 0em;
}
.background{
	transition: background-image 1s ease-in-out;
    -webkit-transition: background-image 1s ease-in-out;
    -moz-transition: background-image 1s ease-in-out;
    -ms-transition: background-image 1s ease-in-out;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;  
}
/*.Home { background-image: url(img/BarcelonaTrip/Barcelona-23.jpg)}
.Portfolio { background-image: url(img/BarcelonaTrip/Barcelona-28.jpg)}*/
div{
	overflow:hidden;
}
/*------------------------------------------
						Nav
------------------------------------------*/
.active{
	border-bottom: 2px solid #000000;
}
h1{
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	margin:0px;
	padding-top:0.2em;
	padding-left:20px;
	padding-bottom:0.5em;
	letter-spacing: 0.3em;
	font-size:200%;
	text-align: left;
	opacity:0.7;
}
h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: 300;
	color:#FFFFFF;
	margin:0px;
	padding-top:0.5em;
	padding-bottom:0.5em;
	letter-spacing: 0.1em;
	font-size:300%;
	text-align: center;
	text-transform: uppercase;
}
h3{
	font-family: 'Montserrat', sans-serif;
	font-weight:100;
	color:#FFFFFF;
	margin:0px;
	padding-top:0.1em;
	letter-spacing: 0.3em;
	font-size:800%;
	text-align: center;
}
nav{
	position:fixed;
	top:0;
	background-color:white;
	height:50px;
	margin:0px;
	top: auto;
	width:100%;
	z-index: 5;
	opacity:0.7;
}
.n{
	width:630px;
	height:50px;
	margin:0px;
	padding-top:0px;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
	text-transform: uppercase;
}
nav ul{
	margin-right: 10px;
	text-align: center;
	font-weight: 300;
}
nav li{
	letter-spacing: 0.2em;
	font-size:110%;
	list-style-type:none;
	display:inline-block;
	margin-right: 30px;
}
/*hover effect on nav li*/
nav li:hover{
	font-weight: 400;
	border-bottom: 2px solid #fff;
	border-bottom-color:black;cursor:pointer;}
/*------------------------------------------
						Main
------------------------------------------*/
.hidden{
	display:none;
}
.visible{
	display:block;
}
main{
	position:relative;
	display:block;	/*IE only*/
	height:955px;
	width:auto;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
}
.leftArrow{
	width: 70px;
    height: 90px;
    position: absolute;
    top: 50%;
    left: 60px;
    margin-top: -37px;
    background: url("icons/leftArrow1.png") center center no-repeat;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    transition: opacity ease .25s;
}
.leftArrow:hover,.rightArrow:hover{
	    opacity: 0.5;
}
.rightArrow{
	width: 70px;
    height: 90px;
    position: absolute;
    top: 50%;
    right:60px;
    margin-top: -37px;
    background: url("icons/rightArrow1.png") center center no-repeat;
    cursor: pointer;
    z-index: 2;
    opacity: 1;
    transition: opacity ease .25s;
}
#headline{
	position:absolute;
	top: auto;
	bottom:0;
	height:310px;
	width:100%;
}
.wrapper{
    position: relative;
}
.hover{
	margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 188, 212, 0);
    transition: background-color 0.5s;
}
.hover:hover{
    background-color: rgba(168, 168, 168, 0.5);
}
.overlay{
	height:150px;
	margin-top:auto;
	margin-bottom:auto;
	background-color: rgba(255, 255, 255, 0.0);
}
/*------------------------------------------
				Portfolio
------------------------------------------*/
.portfolio{
	height:955px;
}
.pSlider{
	margin:0px;
	height:200px;
	width:1500px;
	background:#fff;
	margin-left:auto;
	margin-right:auto;
	margin-top:20px;
}
.first{
	margin:0px;
	height:200px;
	width:295px;
	background:#efefef;
	opacity:1;
	display:inline-block;
}
.first p{
	margin:0px;
	font-family: 'Montserrat', sans-serif;
	color:black;
	font-size: 100%;
	font-weight:900;
	text-align: center;
	line-height: 50px;
	word-wrap:break-word;
}
h4{
	margin:0px;
	font-family: 'Montserrat', sans-serif;
	color:black;
	font-size: 200%;
	font-weight:900;
	text-align: center;
	line-height: 150px;
	word-wrap:break-word;
}
.next{
	margin:0px;
	height:200px;
	width:295px;
	background:#efefef;
	display:inline-block;
}
/*------------------------------------------
				Footer
------------------------------------------*/

/*------------------------------------------
				Media Screens
------------------------------------------*/
@media screen and (max-width:1320px){
	h1{display:none;}
}