@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');
html body{
  height: 100%;
}
body{
	font-family: 'Open Sans', sans-serif;
    font-size: 90%;
	font-weight:900;
    margin: 0em;
    padding: 0em;
	background-image: url("img/BarcelonaTrip/Barcelona-23.jpg");
	background-size:cover;
    background-repeat:no-repeat;
    background-position:center center;  
}
div{
	overflow:hidden;
}
/*------------------------------------------
						Nav
------------------------------------------*/
.pointer{
	border-bottom: 2px solid #000000;
}
h1{
	font-family: 'Open Sans', sans-serif;
	margin:0px;
	padding-top:0.5em;
	padding-bottom:0.5em;
	letter-spacing: 0.3em;
	font-size:300%;
	text-align: center;
}
h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;
	color:#FFFFFF;
	margin:0px;
	padding-top:0.5em;
	padding-bottom:0.5em;
	letter-spacing: 0.3em;
	font-size:300%;
	text-align: center;
	text-transform: uppercase;
}
h3{
	font-family: 'Open Sans', sans-serif;
	font-weight:100;
	color:#FFFFFF;
	margin:0px;
	padding-top:0.1em;
	letter-spacing: 0.3em;
	font-size:800%;
	text-align: center;
}
nav{
	background-color:white;
	height:150px;
	margin:0px;
}
.n{
	width:630px;
	height:50px;
	margin:0px;
	padding-top:0px;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
	text-transform: uppercase;
}
nav ul{
	margin-right: 10px;
	text-align: center;
	font-weight: 100;
}
nav li{
	letter-spacing: 0.3em;
	font-size:110%;
	list-style-type:none;
	display:inline-block;
	*display:inline; /*IE7*/
	margin-right: 30px;
}
/*hover effect on nav li*/
nav li:hover{
	border-bottom: 2px solid #fff;
	border-bottom-color:black;cursor:pointer;}
/*------------------------------------------
						Main
------------------------------------------*/
.hidden{
	display:none;
}
.visible{
	display:block;
}
main{
	position:relative;
	height:830px;
	width:auto;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
}
.headline{
	position:absolute;
	top: auto;
	bottom:0;
	height:310px;
	width:100%;
}
.wrapper{
    position: relative;
}
.hover{
	margin: 0px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 188, 212, 0);
    transition: background-color 0.5s;
}
.hover:hover{
    background-color: rgba(168, 168, 168, 0.5);
    /*You can tweak with other background properties too (ie: background-image)...*/
}
.overlay{
	height:150px;
	margin-top:auto;
	margin-bottom:auto;
	background-color: rgba(255, 255, 255, 0.0);
}
.front{
	margin:0px;
	color:black;
	text-align: center;
	line-height: 150px;
	font-size: 300%;
	font-weight: bold;
	letter-spacing: 0.2em;
}
/*------------------------------------------
				Footer
------------------------------------------*/
