.pSlider{
	position:relative;
	display:block;	/*IE only*/
	width:1500px;
	height:320px;
	margin-top:20px;
	padding:0px;
	padding-top:0px;
	margin-left:auto;
	margin-right:auto;
	max-width: 1500px;
	/*border-bottom: 1px solid #aaa;*/
	background:white;	
}
.slides{
	list-style-type: none;
	display:block;	
	height:200px;
	width:7500px;
	padding:0px;
	margin:0px;
	overflow:hidden;
}
.slide{
	width:300px;
	height:200px;
	float:left;
	margin-left:5px;
	z-index:0;
	top:50%;
	background-color:black;
}
.slide img{
	z-index:0;
	top:50%;
}
h4{
	margin:0px;
	font-family: 'Montserrat', sans-serif;
	color:black;
	font-size: 200%;
	font-weight:900;
	text-align: center;
	word-wrap:break-word;
	padding:0px;
}
.pSlider p{
	text-align:center;
}
.bLeft{
	display:inline-block;
	width: 20px;
    height: 20px;
	float:left;
    background: url("icons/left.png") center center no-repeat;
    cursor: pointer;
    transition: opacity ease .25s;
	visibility:hidden;
}
.bRight{
	display:inline-block;
	width: 20px;
    height: 20px;
	float:right;
    background: url("icons/right.png") center center no-repeat;
    cursor: pointer;
    transition: opacity ease .25s;
}
.slideMenu{
	position: absolute;
  	bottom: 0px;
  	left: 50%;
  	transform: translate(-50%, -50%);
	height:30px;
	width:600px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.9);
}
.over-div{
    width:960px;
    height:960px;
    position:fixed;
    top:50%;
    left:50%;
    margin-left:-480px;
    margin-top:-270px;
    z-index:0;
	visibility:hidden;
}
.landscape{
	width:100%;
}
.portrait{
	display: block;
    margin-left: auto;
    margin-right: auto;
	height:100%;
	width:auto;
	left:50%;
}
/*Button*/

.slideNav{
	display:inline-block;
	margin:0px;
	padding:0px;
	width:75%;
	height:20px;
  	transform: translate(10%, 0%);
	text-align: center;
}
.folNr{
	display: inline-block;
	padding: 0px;
	overflow:hidden;
	width:75%;
	height:90%;
	transform: translate(10%, 0%);
	text-align: center;
}
.folNr p{
	margin:0px;
	padding: 0px;
}
.slideMenu ul {
	display: inline-block;
	margin: 0px 0;
	padding: 0px;
	overflow:hidden
}
/* bullet*/
.slideMenu li{
	display: inline-block;
	list-style-position: inside;
	background: white;
	list-style-position:inside;
	list-style-type: disc;
	border: 1px solid grey;
    width: 6px;
    height: 6px;
	margin-left:6px;
	border-radius:50%;
}
.activeBullet{
	border: 5px solid grey;
}
li.inactiveBullet{
	border: 1px solid grey;
}